/LAM/
/Moenagade.app/
/Structorizer.app/
/Unimozer.app/
/inno/
/launcher/
/Structorizer.app.zip
/Unimozer.app.zip
/Moenagade.app.zip
/Structorizer.jar
/buildapp-moenagade.xml
/buildapp-javasourceprinter.xml
/buildapp-moenagade-go.xml
/buildapp-unimozer.xml
/buildapp-unimozer-go.xml
/buildapp-structorizer.xml
/buildapp-structorizer-go.xml
/upla-moenagade.ini
/upla-structorizer.ini
/upla-unimozer.ini
/trans.txt
/upload